<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for entering a result, </h1>
    <% if @result == "true" %>
	<p>
      <%= @winner %> has beaten <%= @loser %> by <%= @winner_score%> games to <%= @loser_score %>
    </p>
	<% else %>
	<p>
		It was a draw!
    </p>
	<% end %>
        <p>Thanks for playing and have a great day!</p>
  </body>
</html>