<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Leagues", about_path %></li>
      <li><%= link_to "Players", contact_path %></li>
      <li><%= link_to "News", about_path %></li>
    </ul>
  </nav>
</footer>